---
import About from "./About.astro";
import CallToAction from "./CallToAction.astro";
import Features from "./Features.astro";
import Hero from "./Hero.astro";
import Products from "./Products.astro";
---
<main>
  <Hero />
  <Features />
  <Products />
  <About />
  <CallToAction />
</main>